@model string

@{
    ViewBag.Title = "Details";
}

<h2>Details of Item</h2>

<p>@Model</p>

<a href="/Example/Edit/@ViewBag.Id">Edit</a> |
<a href="/Example/Delete/@ViewBag.Id">Delete</a> |
<a href="/Example">Back to List</a>