@model IEnumerable<string>

@{
    ViewBag.Title = "Index";
}

<h2>Items List</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>

<a href="/Example/Create">Create New Item</a>